Projects/Track/FMSWcf/Service References/FINDOriginal/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WlocateWeb" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMileageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="mileFilter" nillable="true" type="q1:MileageReport" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMileageReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMileageReportResult" nillable="true" type="q2:ArrayOfMileageReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMixerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q3:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMixerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMixerReportResult" nillable="true" type="q4:ArrayOfMixerReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPhonesResult" nillable="true" type="q5:ArrayOfPhoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="msgFilter" nillable="true" type="q6:MessageInfo" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMessagesResult" nillable="true" type="q7:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMessageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMessagesExResult" nillable="true" type="q8:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMessageIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagMessagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtMessage" nillable="true" type="q9:MessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMessageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="datFilter" nillable="true" type="q10:RawData" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetRawDataResult" nillable="true" type="q11:ArrayOfRawData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtData" nillable="true" type="q12:RawData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRawDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFile" nillable="true" type="q13:FileUpload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateCellID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q14:EventInfo" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtCellID" nillable="true" type="q15:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateCellIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocateCellIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFilter" nillable="true" type="q16:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetCellIdsResult" nillable="true" type="q17:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iZoneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZoneCellIdsResult" nillable="true" type="q18:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCidParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strParam" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFilter" nillable="true" type="q19:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCidParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCidParamsResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrCellIds" nillable="true" type="q21:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCellIdsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsExResult" nillable="true" type="q22:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtAsset" nillable="true" type="q23:AssetInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAssetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAssetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsApi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsApiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsApiResult" nillable="true" type="q24:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="FindAssetsResult" nillable="true" type="q25:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPosID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="FindAssetResult" nillable="true" type="q26:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="actFilter" nillable="true" type="q27:ActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q28:ArrayOfActivityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtActivity" nillable="true" type="q29:ActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrActivities" nillable="true" type="q30:ArrayOfActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivitiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iActivityID" type="xs:long" />
        <xs:element minOccurs="0" name="iStatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iActivityID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strActivityIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivitiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPlansResult" nillable="true" type="q31:ArrayOfPlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPlan" nillable="true" type="q32:PlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrPlans" nillable="true" type="q33:ArrayOfPlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPlanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrips">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q34:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTripsResult" nillable="true" type="q35:ArrayOfTripInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iTripID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTripResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTrips">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTripsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q36:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetEventsResult" nillable="true" type="q37:ArrayOfEventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q38:EventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q39:EventInfo" />
        <xs:element minOccurs="0" name="bResetFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q40:EventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="posFilter" nillable="true" type="q41:PosInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPositionsResult" nillable="true" type="q42:ArrayOfPosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPos" nillable="true" type="q43:PosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q44:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZoneReportResult" nillable="true" type="q45:ArrayOfZoneReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="posFilter" nillable="true" type="q46:PosInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetSpeedReportResult" nillable="true" type="q47:ArrayOfSpeedReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="utilFilter" nillable="true" type="q48:UtilizeReport" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUtilizeReportResult" nillable="true" type="q49:ArrayOfUtilizeReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLicenseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeatures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetFeaturesResult" nillable="true" type="q50:ArrayOfFeatureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iType" type="xs:int" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetNamesResult" nillable="true" type="q51:ArrayOfNameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iLanguageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStringsResult" nillable="true" type="q52:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetApiKeysResult" nillable="true" type="q53:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerNoticeMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerNoticeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerNoticeMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q54:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtCompany" nillable="true" type="q55:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUsersResult" nillable="true" type="q56:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtUser" nillable="true" type="q57:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="LogInUserResult" nillable="true" type="q58:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUserResult" nillable="true" type="q59:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lLatitude" type="xs:double" />
        <xs:element minOccurs="0" name="lLongitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseGeocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZonesResult" nillable="true" type="q60:ArrayOfZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetActiveZonesResult" nillable="true" type="q61:ArrayOfZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtZone" nillable="true" type="q62:ZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iZoneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTagsResult" nillable="true" type="q63:ArrayOfTagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtTag" nillable="true" type="q64:TagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iTagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsResult" nillable="true" type="q65:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>