Projects/SBS/FMSWinSvc/Service References/FmsWcfApi/FmsWcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://103.237.168.119/fmswcfapi/FmsWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WlocateWeb" />
  <xs:import schemaLocation="http://103.237.168.119/fmswcfapi/FmsWcf.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetRFIDResult" nillable="true" type="q1:ArrayOfRFIDInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="rfid" nillable="true" type="q2:RFIDInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRFIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRFID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="rfid" nillable="true" type="q3:RFIDInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRFIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRFIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRFIDDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rfidCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRFIDDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRFIDDriverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetDriversResult" nillable="true" type="q4:ArrayOfDriverInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtDriver" nillable="true" type="q5:DriverInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDriverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDriverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDriverResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDrivers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrDrivers" nillable="true" type="q6:ArrayOfDriverInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDriversResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtDateLocal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iDriverID" type="xs:int" />
        <xs:element minOccurs="0" name="iAssetID" type="xs:int" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDriverLoginResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtStartLocal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEndLocal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iDriverID" type="xs:int" />
        <xs:element minOccurs="0" name="iAssetID" type="xs:int" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetDriverLoginsResult" nillable="true" type="q7:ArrayOfDriverInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLicenseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAppKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeatures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetFeaturesResult" nillable="true" type="q8:ArrayOfFeatureInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iType" type="xs:int" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetNamesResult" nillable="true" type="q9:ArrayOfNameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iLanguageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStringsResult" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiKeys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetApiKeysResult" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerNoticeMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerNoticeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerNoticeMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMileageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMileageReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMileageReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAllCompaniesResult" nillable="true" type="q12:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q13:ArrayOfCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtCompany" nillable="true" type="q14:CompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUsersResult" nillable="true" type="q15:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtUser" nillable="true" type="q16:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUserResult" nillable="true" type="q17:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="userActivity" nillable="true" type="q19:GenUserActivityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUserActivityResult" nillable="true" type="q20:ArrayOfGenUserActivityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isLoginFreqUpdated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lLatitude" type="xs:double" />
        <xs:element minOccurs="0" name="lLongitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseGeocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNoAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNoAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNoAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtAsset" nillable="true" type="q21:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="UpdateAddressResult" nillable="true" type="q22:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZonesResult" nillable="true" type="q23:ArrayOfZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetActiveZonesResult" nillable="true" type="q24:ArrayOfZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtZone" nillable="true" type="q25:ZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iZoneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTagsResult" nillable="true" type="q26:ArrayOfTagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Imei" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTagResult" nillable="true" type="q27:TagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtTag" nillable="true" type="q28:TagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iTagID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetResult" nillable="true" type="q29:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsResult" nillable="true" type="q30:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsExResult" nillable="true" type="q31:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtAsset" nillable="true" type="q32:AssetInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAssetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAssetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAssetID" type="xs:int" />
        <xs:element minOccurs="0" name="iCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetZonesResult" nillable="true" type="q33:ArrayOfZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsAllResult" nillable="true" type="q34:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numnotified" type="xs:int" />
        <xs:element minOccurs="0" name="downminutes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetDownAssetsResult" nillable="true" type="q35:ArrayOfDownAssetsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifiedDownAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNotifiedDownAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNotifiedDownAssetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsApi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsApiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetsApiResult" nillable="true" type="q36:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsApi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="posFilter" nillable="true" type="q37:PosInfo" />
        <xs:element minOccurs="0" name="strKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsApiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPositionsApiResult" nillable="true" type="q38:ArrayOfPosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="FindAssetsResult" nillable="true" type="q39:ArrayOfAssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPosID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="FindAssetResult" nillable="true" type="q40:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAssetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="FindAssetByNameResult" nillable="true" type="q41:AssetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="actFilter" nillable="true" type="q42:ActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q43:ArrayOfActivityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtActivity" nillable="true" type="q44:ActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrActivities" nillable="true" type="q45:ArrayOfActivityInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivitiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iActivityID" type="xs:long" />
        <xs:element minOccurs="0" name="iStatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iActivityID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strActivityIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivitiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPlansResult" nillable="true" type="q46:ArrayOfPlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPlan" nillable="true" type="q47:PlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrPlans" nillable="true" type="q48:ArrayOfPlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPlanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrips">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q49:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTripsResult" nillable="true" type="q50:ArrayOfTripInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iTripID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTripResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegenTrips">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegenTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="RegenTripsResult" nillable="true" type="q51:ArrayOfTripInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresenceInZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPos" nillable="true" type="q52:PosInfo" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
        <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresenceInZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPresenceInZoneResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryTimeOriginZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtTrip" nillable="true" type="q53:TripInfo" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
        <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryTimeOriginZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEntryTimeOriginZoneResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryTimeDestinationZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtTrip" nillable="true" type="q54:TripInfo" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
        <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntryTimeDestinationZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEntryTimeDestinationZoneResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPosInfoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegenGetPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDestID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegenGetPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="RegenGetPlansResult" nillable="true" type="q55:ArrayOfPlanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtTripZone" nillable="true" type="q56:TripZoneInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetTripsZoneResult" nillable="true" type="q57:ArrayOfTripZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q58:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetEventsResult" nillable="true" type="q59:ArrayOfEventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q60:EventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q61:EventInfo" />
        <xs:element minOccurs="0" name="bResetFlag" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q62:EventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="posFilter" nillable="true" type="q63:PosInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPositionsResult" nillable="true" type="q64:ArrayOfPosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPos" nillable="true" type="q65:PosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePositionUDP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtPos" nillable="true" type="q66:PosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePositionUDPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePositionUDPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLastPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAssetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLastPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetAssetLastPosResult" nillable="true" type="q67:PosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestAssetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssetID" type="xs:int" />
        <xs:element minOccurs="0" name="PostypeID" type="xs:int" />
        <xs:element minOccurs="0" name="PosID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestAssetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetLastestAssetInfoResult" nillable="true" type="q68:PosInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q69:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZoneReportResult" nillable="true" type="q70:ArrayOfZoneReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="posFilter" nillable="true" type="q71:PosInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetSpeedReportResult" nillable="true" type="q72:ArrayOfSpeedReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="utilFilter" nillable="true" type="q73:UtilizeReport" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetUtilizeReportResult" nillable="true" type="q74:ArrayOfUtilizeReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMileageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="mileFilter" nillable="true" type="q75:MileageReport" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMileageReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMileageReportResult" nillable="true" type="q76:ArrayOfMileageReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMixerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="evtFilter" nillable="true" type="q77:EventInfo" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMixerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMixerReportResult" nillable="true" type="q78:ArrayOfMixerReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetPhonesResult" nillable="true" type="q79:ArrayOfPhoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="msgFilter" nillable="true" type="q80:MessageInfo" />
        <xs:element minOccurs="0" name="dtStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMessagesResult" nillable="true" type="q81:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMessageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetMessagesExResult" nillable="true" type="q82:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMessageIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagMessagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtMessage" nillable="true" type="q83:MessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMessageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="Filter" nillable="true" type="q84:RawData" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetRawDataResult" nillable="true" type="q85:ArrayOfRawData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrData" nillable="true" type="q86:ArrayOfRawData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="ProcessRawDataResult" nillable="true" type="q87:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFile" nillable="true" type="q88:FileUpload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateCellID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtEvent" nillable="true" type="q89:EventInfo" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtCellID" nillable="true" type="q90:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocateCellIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocateCellIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFilter" nillable="true" type="q91:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetCellIdsResult" nillable="true" type="q92:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iZoneID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZoneCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetZoneCellIdsResult" nillable="true" type="q93:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCidParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strParam" nillable="true" type="xs:string" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="udtFilter" nillable="true" type="q94:CellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCidParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCidParamsResult" nillable="true" type="q95:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCellIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="arrCellIds" nillable="true" type="q96:ArrayOfCellID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCellIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCellIdsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTAReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtOTASent" type="xs:dateTime" />
        <xs:element minOccurs="0" name="assetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTAReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOTAReplyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTACommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTACommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/WlocateWeb" minOccurs="0" name="GetOTACommandsResult" nillable="true" type="q97:ArrayOfOTACommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>